---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
 name: cdk-cats
spec:
 rules:
   - host: cats.51.255.64.68.xip.io
     http:
       paths:
         - path: /cats
           backend:
             serviceName: cdk-cats
             servicePort: 80
         - path: /microbot
           backend:
             serviceName: microbot
             servicePort: 8080
